@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
/* CSS Document */

.logo-box {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: inherit;
}

.logo {
	width: 300px;
	display:block;
	margin: auto;
}

.gif {
	height: 300px;
	display: block;
	margin: auto;
}

.container {
	position: absolute;
	display: inline-block;
	top: 0;
	bottom: 0;
	width: 100%;
	padding: inherit;
}

h1 {
	font-family: 'Montserrat', serif;
	font-size: 1.5em;
	font-weight: 200;
	display: block;
	text-align: center;
}

h2 {
	font-family: 'Montserrat',serif;
	font-size: 0.8em;
	font-weight: 200;
	display: block;
	text-align: center;
}

body, html{
	height:100%;
	overflow: hidden;
}

.box-a{
	background: #FFFFFF;
	height:100px;
	margin-top: 50px;
}

.box-b{
	background: #FFFFFF;
	height:100px;
}

.box-c{
	background: #FFFFFF;
	height:300px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background: #FFFFFF;
}



@media only screen and (max-width: 980px) {
	.logo {
		height: 100%;
		max-height: 100%;
		width: auto;
		max-width: 100%;
		padding-bottom: 40px;
	}
	
	h1 {
		font-size: 2em;
		padding-top: 20px;
	}
	
	h2 {
		font-size: 1.5em;
	}
	
	.box-a {
		padding-bottom: 30px;
		padding-top: 100px;
		background-color: red;
	}
	
	.box-b {
		background-color: yellow;
	}
	
	body, html {
		
	}
	
	.box-c {
		height: 850px;
		background-color: blue;
	}
	
	.gif {
		height: 100%;
		max-height: 100%;
		width: auto;
		max-width: 100%;
	}
}
